{% extends 'bootstrap_4_layout.html.twig' %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="form-text">{% else %}<div class="alert alert-danger">{% endif %}

        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><span class="fa fa-exclamation-triangle"></span> {{ error.message }}</li>
            {%- endfor -%}
        </ul>

        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block collection_widget %}
    <div class="collection-widget">
        {% if prototype is defined and not prototype.rendered %}
            {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
        {% endif %}
        {{- block('form_widget') -}}

        {% if form.vars.allow_add %}
            <div class="button-container">
                <button type="button"
                        class="btn btn-primary add-button">{{ 'lag.admin.add' | trans }}</button>
            </div>
        {% endif %}
    </div>
{% endblock collection_widget %}

{% block select2_entity_widget %}
    <div class="">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}
