<!DOCTYPE html>
<html lang="{{ config.locale }}">
<head>
    <title>
        {% block title %}{{ config.title }}{% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="in progress">
    <meta name="author" content="in progress">
    {% block head %}{% endblock %}
    {% include "LAGAdminBundle:Layout:header.html.twig" %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% import "LAGAdminBundle:Generic:macros.html.twig" as AdminBundle %}
<div class="wrapper">
    {% if app.user %}
        <nav style="margin-bottom: 0" role="navigation" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                {# collapse button form reponsive #}
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block mainTitle %}{% endblock %}
                {% block topMenu %}
                    <ul class="nav navbar-top-links navbar-right in">
                        {% block topMenuItems %}{% endblock %}
                    </ul>
                {% endblock %}
                {% block leftMenu %}{% endblock %}
            </div>
        </nav>
    {% endif %}

    {% block container %}
        <div id="page-wrapper">
            {# flash messages #}
            {% include "LAGAdminBundle:Layout:flash_messages.html.twig" %}

            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</div>
</body>
<footer>
    {% include "LAGAdminBundle:Layout:footer.html.twig" %}
    {% block javascripts %}{% endblock %}
</footer>

</html>
