<!DOCTYPE html>
<html lang="{{ config.locale }}">
<head>
    <title>
        {% block title %}{{ config.title }}{% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="in progress">
    <meta name="author" content="in progress">
    {% block head %}{% endblock %}
    {% include "BlueBearAdminBundle:Layout:header.html.twig" %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% import "BlueBearAdminBundle:Generic:macros.html.twig" as AdminBundle %}
<!-- flash messages -->
<div class="alert-container container">
    {% include "BlueBearAdminBundle:Layout:flash_messages.html.twig" %}
</div>

{% if app.user %}
    {% block topMenu %}{% endblock %}
{% endif %}

{% block container %}
<div class="container">
    <div class="row-fluid">
        <div class="col-md-2">
            {% block left %}{% endblock %}
        </div>
        <div class="col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

<footer>
    {% include "BlueBearAdminBundle:Layout:footer.html.twig" %}
</footer>
</body>
</html>
