.select2.select2-container {
    width: 100% !important;
}

input[type="submit"],
button[type="submit"] {
    i {
      padding-right: 5px;
    }
}

.lag-admin.image-card {
    img {
        width: 100px;
    }
}

.collection-widget {
    .collection-item {
        padding-top: 1em;
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    }
}

.ql-editor {
    min-height: 100px;
}
