<div class="btn-group" role="group" aria-label="Actions">

    {% for action, options in actions %}
        <a href="{{ path(options.route, options.parameters) }}" class="{{ options.class }}">
            {% if options.icon %}
                <i class="{{ options.icon }}"></i>
            {% endif %}
            {{ options.text | trans }}
        </a>
    {% endfor %}

</div>
