.sass-cache
.php_cs.cache
bin
!bin/php-cs-fixer-modified-files
build
composer.lock
phpunit.xml
vendor
var/phpunit

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
