parameters:
	paths:
		- src
	level: 6
	excludePaths:
		- src/DependencyInjection/Configuration.php
		- tests/app
		- tests/fixtures
		- tests/phpunit/Fixtures/Book.php
	ignoreErrors:
		- 	identifier: missingType.iterableValue
		- 	identifier: missingType.generics
		- 	identifier: argument.templateType
