<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="tests/bootstrap.php"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         cacheDirectory="var/phpunit/cache">

    <testsuites>
        <testsuite name="AdminBundle Test Suite">
            <directory>tests/phpunit</directory>
        </testsuite>
        <testsuite name="AdminBundle Functional Test Suite">
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="LAG\AdminBundle\Tests\Application\TestKernel"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="4885b6328504a001d0e801257fb51d3f"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL"
             value="mysql://admin_test:admin_test@127.0.0.1:3306/admin_test?serverVersion=5.7"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>

    <coverage>
        <report>
            <clover outputFile="var/phpunit/logs/clover.xml"/>
            <html outputDirectory="var/phpunit/coverage"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="var/phpunit/logs/junit.xml"/>
    </logging>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
