form {
  &.admin-form {
    border: 1px solid lightgray;
    padding: 20px;
  }
  .control-label {
    font-weight: bold;
  }
  label,
  legend {
    font-weight: bold;
  }
}

#filters-container {
  position: absolute;
  width: 80%;
  z-index: 9999;
}

.form-check {
  padding-top: 10px;
}
