<div class="admin-actions text-end">
    {% if actions|length == 1 %}
        {% set action = actions|first %}
        {{ lag_admin_action(action.options) }}
    {% elseif actions|length > 1 %}
        <div class="dropdown float-end">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                {{ 'lag_admin.actions.collection_action'|trans({}, 'admin') }}
            </button>
            <ul class="dropdown-menu">
                {% for action in actions %}
                    <li>{{ lag_admin_action(action.options) }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
