{% spaceless %}
    {% if route %}
        {% set url = path(route, parameters) %}
    {% elseif not url %}
        {% set url = text %}
    {% endif %}
    <a href="{{ url }}" target="{{ target }}">{{ text }}</a>
{% endspaceless %}
