<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">

        {% for item in menu.items %}
            <li class="nav-item">
                <a href="{{ admin_menu_action(item.configuration) }}" class="nav-link">
                    {{ item.text | trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
