{% extends '@LAGAdmin/crud/operation.base.html.twig' %}

{% block content %}
    <div class="admin-index admin-{{ resource.name }}">
        {% block filter_form %}
            {% if filterForm and filterForm|length > 0 %}
                {% include '@LAGAdmin/crud/index/_filters.html.twig' with {form: filterForm} %}
            {% endif %}
        {% endblock %}

        {% if grid %}
            <div class="admin-grid-container">
                {% block grid %}
                    {{ lag_admin_grid(grid, operation) }}
                {% endblock %}
            </div>
        {% endif %}

        {% block pagination %}
            <div class="admin-pagination mt-4">
                <div class="pagination justify-content-center">
                    {% if data|length > 0 and operation.pagination %}
                        {{ pagerfanta(data, 'twitter_bootstrap5', {page: data.currentPage}) }}
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block bottom_extra_content %}{% endblock %}
    </div>
{% endblock %}

