{% extends '@LAGAdmin/crud/operation.base.html.twig' %}

{% block content %}
    <div class="admin-index admin-{{ resource.name }}">
        {% block filter_form %}
            {% if filterForm and filterForm|length > 0 %}
                {% include '@LAGAdmin/crud/index/_filters.html.twig' with {form: filterForm} %}
            {% endif %}
        {% endblock %}

        {% if grid %}
            <div class="admin-grid-container">
                {% block grid %}
                    {{ component(grid.component, {
                        data: data,
                        rows: grid.rows,
                        headers: grid.headers,
                        ...grid.attributes,
                    }) }}
                {% endblock %}
            </div>
        {% endif %}

        {% block pagination %}
            {% if pager %}
                <div class="admin-pagination mt-4">
                    <div class="pagination justify-content-center">
                        {{ pagerfanta(pager, 'twitter_bootstrap5', {page: pager.currentPage}) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block bottom_extra_content %}{% endblock %}
    </div>
{% endblock %}

