{% extends '@LAGAdmin/crud/operation.base.html.twig' %}

{% block content %}
    <div class="admin-index admin-{{ resource.name }}">
        {% block filter_form %}
            {% if form %}
                {% include '@LAGAdmin/crud/index/_filters.html.twig' with {form: form} %}
            {% endif %}
        {% endblock %}

        <div class="card">
            {% block grid %}
                {{ lag_admin_grid(grid, operation) }}
            {% endblock %}
        </div>

        {% block pagination %}
            <div class="admin-pagination mt-2">
                {% if data|length > 0 and operation.pagination %}
                    {{ pagerfanta(data, 'twitter_bootstrap5', {page: data.currentPage}) }}
                {% endif %}
            </div>
        {% endblock %}

        {% block bottom_extra_content %}{% endblock %}
    </div>
{% endblock %}

