<div class="admin-actions text-end">
    {% if grid.actions|length == 1 %}
        {{ {{ component('lag_admin:grid:cell', {'cell': grid.actions|first}) }} }}
    {% elseif grid.actions|length > 1 %}
        <div class="dropdown float-end">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                {{ 'lag_admin.actions.collection_action'|trans({}, 'admin') }}
            </button>
            <ul class="dropdown-menu">
                {% for action in grid.actions %}
                    <li>
                        {{ component('lag_admin:grid:cell', {
                            'cell': action,
                            'attributes': {class: 'dropdown-item'}
                        }) }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
