{% extends config.layout %}

{% block left %}
    <ul class="nav nav-pills nav-stacked">
        {% block leftList %}
            {% include 'BlueBearAdminBundle:Action:customActions.html.twig' %}
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ admin.currentAction.title }}</h1>
    <div class="pencils-list">
        {{ AdminBundle.adminList(admin) }}
    </div>
{% endblock %}
