{% extends config.layout %}

{% block left %}
    <ul class="nav nav-pills nav-stacked">
        {% block leftList %}
            {% include 'BlueBearAdminBundle:Action:customActions.html.twig' %}
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ admin.currentAction.title | trans }}</h1>

    <div class="filters">
        {% include "BlueBearAdminBundle:Action:filters.html.twig" %}
    </div>
    <div class="{{ admin.name }}-list">
        {{ AdminBundle.adminList(admin) }}
    </div>
{% endblock %}
