{% extends '@LAGAdmin/resources/operation.html.twig' %}

{% block content %}
    <div class="admin-index admin-{{ resource.name }}">
        {% include '@LAGAdmin/resources/index/_collection_operations.html.twig' %}

        {% block filter_form %}
            {% if filterForm and filterForm.children|length > 0 %}
                {% include '@LAGAdmin/resources/index/_filters.html.twig' with {form: filterForm} %}
            {% endif %}
        {% endblock %}

        {% block grid %}
            <div class="admin-grid-container">
                {% if grid %}
                    {{ component('lag_admin:grid', {
                        data: data,
                        grid: grid,
                        operation: operation,
                        ...grid.attributes
                    }) }}
                {% endif %}
            </div>
        {% endblock %}

        {% block pagination %}
            {% if lag_admin_is_pager(data) and data.haveToPaginate %}
                <div class="admin-pagination mt-4">
                    <div class="pagination justify-content-center">
                        {{ pagerfanta(data, {
                            page: data.currentPage,
                            routeName: app.request.attributes.get('_route')
                        }) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block bottom_extra_content %}{% endblock %}
    </div>
{% endblock %}

