{% extends '@LAGAdmin/resources/operation.html.twig' %}

{% block content %}
    <div class="admin-index admin-{{ resource.name }}">
        {% block collection_actions %}
            {% if grid is defined and grid.actions|length > 0 %}
                <div class="row">
                    <div class="col text-end">
                        <div class="btn-group"
                             role="group"
                             aria-label="Collection actions">
                            {% for action in grid.actions %}
                                {{ component('lag_admin:grid:cell', {
                                    cell: action,
                                    data: action.data,
                                    class: 'btn btn-outline-primary'
                                }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block actions %}
            {% if (filterForm and filterForm.children|length > 0) or (grid is defined and grid.actions|length > 0) %}
                <div class="row">
                    {% block filters %}
                        {% if filterForm and filterForm.children|length > 0 %}
                            <div class="col-8">
                                {% include '@LAGAdmin/resources/index/_filters.html.twig' with {form: filterForm} %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}

        {% block grid %}
            {% if grid is defined %}
                {{ component('lag_admin:grid', {
                    grid: grid,
                    data: data,
                    ...grid.attributes
                }) }}
            {% endif %}
        {% endblock %}

        {% block pagination %}
            {% if lag_admin_is_pager(data) and data.haveToPaginate %}
                <div class="admin-pagination mt-4">
                    <div class="pagination justify-content-center">
                        {{ pagerfanta(data, {
                            page: data.currentPage,
                            routeName: app.request.attributes.get('_route'),
                            routeParams: app.request.attributes.get('_route_params'),
                        }) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block bottom_extra_content %}{% endblock %}
    </div>
{% endblock %}

