{% extends '@LAGAdmin/resources/operation.html.twig' %}

{% block content %}
    <div class="admin-container admin-{{ resource.name }} admin-{{ operation.name }}">
       {# TODO show properties #}
    </div>
{% endblock %}
