/*
Errno::ENOENT: No such file or directory @ rb_sysopen - admin.scss

Backtrace:
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:360:in `read'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:360:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:81:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:439:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:326:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:21:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - admin.scss"; }
