<p {{ attributes }}>
    <span class="date">{{ data|format_datetime(options.dateFormat, 'none') }}</span>

    {% if options.timeFormat != 'none' %}
        <span class="time">{{ data|format_datetime('none', options.timeFormat) }}</span>
    {% endif %}
</p>
