{#<p>{{ data|format_datetime(options.dateFormat, 'none') }}</p>#}

{#{% if options.timeFormat and options.timeFormat != 'none' %}#}
{#    <p>{{ data|format_datetime('none', options.timeFormat) }}</p>#}
{#{% endif %}#}
