{% extends '@LAGAdmin/menu/menu-base.html.twig' %}

{% block linkElement %}
    {% import _self as knp_menu %}
    {% set attributes = item.linkAttributes|merge({'class': 'nav-link'}) %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(attributes) }}>{{ block('label') }}</a>
{% endblock %}
