#admin-main-container {
  margin-top: 60px;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

table {
  th {
    a {
      text-decoration: none;
      display: inline-block;

      i.fa {
        display: block;
        float: right;
        padding-left: 2px;

        &.fa-sort-asc {
          margin-top: 6px;
        }
        &.fa-sort-desc {
          margin-top: 2px;
        }
      }
    }
  }
  div.checkbox {
    margin: 0 0 -2px 0;
  }
  .checkbox label, .radio label {
    min-height: 15px;
  }

  td {
    a {
      //padding: 10px;
    }
  }
}
// overriding sb-admin brand display
.navbar-brand {
  padding-right: 30px;
}


// surcharge des styles bootstrap des checkbox pour le cas particulier des checkbox d'édition/suppression de masse
.admin-list {
  .batch-column {
    .checkbox {
      label {
        cursor: auto;
      }
    }
  }
}

// fix top and left menu to top
#admin-top-menu {
  position: fixed;
  width: 100%;
}
#page-wrapper {
  padding-top: 68px;
}

.page-header {
  margin-top: 0;
}
