<th class="text-dark">
    {% if field.sortable %}
        {% set order = 'asc' %}

        {% if app.request.get('order') == 'asc' %}
            {% set order = 'desc' %}
        {% endif %}

        <a href="?sort={{ field.name }}&order={{ order }}"
           class="text-dark">
            {{ admin_field_header(admin, field) }}

            {% if app.request.get('sort') == field.name %}
                {% if order == 'asc' %}
                    <i class="fa fa-caret-down sort-icon sort-asc"></i>
                {% else %}
                    <i class="fa fa-caret-up sort-icon sort-desc"></i>
                {% endif %}
            {% endif %}
        </a>
    {% else %}
        {{ admin_field_header(admin, field) }}
    {% endif %}
</th>
