{% for notice_level in ['success', 'error', 'info', 'warning'] %}
    {% for flash in app.session.flashbag.get(notice_level) %}
        {% set notice_level = (notice_level == 'error') ? 'danger' : notice_level %}
        <div class="alert {{ 'alert-' ~ notice_level }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
