<div id="admin-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="admin-loader" class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">{{ 'loading'|admin_trans_key }}</span>
        </div>
    </div>
</div>
